<div class="area" id="my-suggest">
  <div class="clearfix">
    <div class="title">
      <h3>词义联想:</h3>
    </div>
  </div>
  <div class="result-content">
    <div class="key-word">关键词 - {{word}}</div>
    <div class="key-table">
      <table>
        <thead>
          <tr>
            <td>名称</td>
            <td>相关性</td>
          </tr>
        </thead>
        <tbody>
          {{#each data as |items|}}
          <tr>
            <td>{{items.lastObject}}</td>
            <td>{{items.firstObject}}</td>
            {{!-- {{#each items as |v|}}
            <td>{{v}}</td>
            {{/each}} --}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>