<div class="area" id="my-tag">
  <div><h3>词性分析:</h3></div>
  <div>
    <ul class="list">
      {{#each data as |items|}}
      <li class="clearfix">
        <div style="float:left;width:75%">
          <ul class="list">
            {{#each items.list as |item|}}
            <li class="inline">
              <span class={{item.tag}}>{{item.word}}</span>
            </li>
            {{/each}}
          </ul>
        </div>
        <div style="float:right;width:25%">
          <div>类别图示:</div>
          <ul class="list">
            {{#each items.tag as |item|}}
            <li class="inline">
              <span class={{item}}>{{item}}</span>
            </li>
            {{/each}}
          </ul>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>