<div class="text">
  {{!-- <textarea name="text" id="text"></textarea> --}}
  {{textarea name="text" value=text placeholder="文本"}}
  <div>
    <button {{action "submit"}} type="submit">提交</button>
  </div>
</div>