.v{
  // 动词
  background-color: #ffcb99;
}
.t{
  // 时间词
  background-color: #c7aee7;
}
.p{
  // 介词
  background-color: #99cc67;
}
.ns{
  // 地名
  background-color: #d07f7f;
}
.u{
  // 助词
  background-color: #4dd9e6;
}
.n{
  // 名词
  background-color: #488fce;
}
.w{
  // 标点符号
  background-color: #ccc;
}
.nz{
  // 专有名词
  background-color: #8bc3f5;
}
.d{
  // 副词
  background-color: #ffcccb;
}
.m{
  // 数词
  background-color: #986699;
}
.q{
  // 量词
  background-color: #ff9899;
}
.f{
  // 方位词
  background-color: #c9aaca;
}
.nx{
  // 字符串
  background-color: #96dbf8;
}
.c{
  // 连词
  background-color: #8ea4de;
}
.a{
  // 形容词
  background-color: #67ccaa;
}
.r{
  // 代词
  background-color: #9acccd;
}
