body {
    width: 960px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    tr,
    td,
    th {
        border: 1px solid #488fce;
        padding: 3px;
    }
    thead {
        td {
            background-color: #488fce;
        }
    }
    tbody {
        td {
            border: 1px solid gray;
        }
    }
}

.text {
    padding: 40px;
    background-color: #f6f6f6;
    textarea {
        width: 100%;
        height: 100px;
    }
    button {
        margin-top: 5px;
        float: right;
    }
}

.content {
    margin-top: 20px;
}

.result {
    position: relative;
    .left {
        width: 18%;
        float: left;
    }
    .right {
        float: right;
        width: 78%;
    }
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.area {
    background-color: #f6f6f6;
}

.list {
    list-style: none;
    margin-left: -30px;
}

.inline {
    display: inline-block;
}

.select {
    display: block;
    border: 1px solid #ebebeb;
    padding: 3px
}

.selected {
    background-color: #488fce;
}

.chart {
    // background-color: antiquewhite;
    width: 350px;
    height: 250px;
}

.title {
    float: left;
    padding-left: 5px;
    h3 {
        margin-left: 5px;
    }
}

.button-list {
    float: right;
    padding-right: 10px; // border:1px solid red;
    li {
        border: 1px solid #999;
        padding: 3px;
        cursor: pointer;
    }
}

.result-center {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-bottom:10px;
}

.words {
    float: left;
    width: 75%;
    // margin-bottom: 10px;
}

.word-mean {
    float: right;
    width: 25%;
    div:first-of-type {
        margin-top: -15px;
        font-size: 1rem;
        line-height: 2.25rem;
    }
    ul {
        margin-right: 10px;
        // margin-bottom: 10px;
    }
}

.half {
    float: left;
    width: 50%; // margin-bottom:10%;
}

.describe {
    .describe-line {
        padding: 2px;
    }
    .ic {
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: bottom;
    }
    .front-ic {
        background-color: rebeccapurple;
    }
    .reverse-ic {
        background-color: blue;
    }
}

.summary {
    padding: 10px;
}

.inline-classify {
    padding: 10px 20px;
    li {
        // margin:0 5px;
        span {
            padding: 2px 5px;
            border-radius: 2px;
        }
    }
    // margin-bottom:15px;
}

.key-table {
    display: flex;
    justify-content: center;
    // padding-bottom:10px;
}
.key-word{
  padding-left: 20px;
}
